body {
    background: #cfc;
    color: #963;
    font: 15px/1.333 sans-serif;
    margin: 0;
}

header, main {
    overflow: auto;
    clear: both;
}

header {
    padding: 0 1em;
    background: #9f9;
    color: #630;
}

header #interact {
    float: right;
    vertical-align: top;
}

header #interact a::before {
    content: '\2913'; /* &DownArrowBar; */
    display: inline-block;
    margin-right: 1ex;
    font-weight: normal;
    transform: scale(1.33);
    transform-origin: bottom
}

header #interact a {
    color: inherit;
    text-decoration: none;
}

header #protocol-message {
    display: none;
}

main {
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

#show-svg polygon:hover,
#show-png img:hover {
    opacity: 0.5;
}
